
.banner {
	margin:0px;
	background-image: url("../Images/cards.jpg");
	height: 900px;
	background-repeat: no-repeat;
	background-size: cover;
	padding-right: 0;
	padding-left: 0;
	
}

.banner .container {
  position: relative;
  top:100px;

}

.banner h1 {
  color: #fff;
  font-size: 60px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: #fff;
  text-align: center;
}